body {
    margin: 0px;
    background: linear-gradient(to right, #bfe3ff, #b6a5ff); 
}

.main {
    width: 730px;
    height: 650px;
    position: relative;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    top: 50px;
    margin: auto;
}

.placeForIp {
    margin-left: 10px;
    margin-top: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    grid-gap: 0.5rem;
    perspective: 800px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
    border-radius: 5px;
}
.face, .back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
}

.back {
    background: #41347c;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg);
}

.menu {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-right: 40px;
}


#startBtn {
    margin-top: 50px;
    height: 30px;
    background: #472bc4;
    color: #bfedff;
}
.container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.rule {
    flex-wrap: wrap;
    margin: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #191040;
    border-bottom: 2px solid #191040;
}